---
const { years, description, company } = Astro.props;
---

<div class="experience-card">
  <div class="experience-card-header">
    <p>
      <span class="text-bold">{years.start} - {years.end}</span>
      {company.name} - {company.role}
    </p>
  </div>
  <div class="experience-card-body">
    <p>
      {description}
    </p>
  </div>
</div>
